* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar__container {
  background-color: black;
  width: 100%;
  color: white;
  height: 50px;
  padding: 6px 20px;
  font-size: 34px;
  z-index: 999999;
}
.container {
}
.master__container {
 
  text-align: center;
}
.master__image__container {
  width: 100%;
  
}

.master__image {
  width: 100%;
  filter: brightness(70%);
  height: 100%;
  object-fit: cover;
}
.button__primary {
  width: 100px;
  height: 30px;
  color: white;
  font-weight: 800;
  border: 1px solid white;
}
.master__button {
  margin-top: 20px;
  background-color: transparent;
  width: 120px;
  height: 40px;
}
.master__discription {
  position: absolute;
  z-index: 99;
  color: white;
  line-height: 2rem;
  left: 30%;
  right: 30%;
  top: 10%;
}
.master__discription h2 {
  font-size: 55px;
  text-align: center;
}
.master__discription p {
  margin-top: 20px;
  font-size: 22px;
}
.our__menu__container{
    margin-top: 50px;
    text-align: center;
    padding: 0 20px;
}
.our__menu__list{
   width: 100%;
}
.menu__card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 30px;
}
.menu__image{
    border-radius: 6px 6px 0 0;
    width: 100%;
}
.menu__discription{
    padding: 10px 10px;
    text-align: left;
}

.why__choose__us__container{
  margin-top: 3rem;
  text-align: center;
  background-color: rgba(240, 240, 240, 0.979);
  padding: 30px 20px;
}
.choose__us__image{
  display: none;
}
.why__choose__us__symbol{
  color: rgb(26, 184, 21);
  font-size: 50px;
  margin-bottom: 10px;
}
.why__choose__us__text{
  margin: 5px 5px;
}
.why__choose__us__resion{
  margin-bottom: 40px;
}

.what__people__say__container{
  margin-top: 3rem;
  text-align: center;
  background-color: rgba(240, 240, 240, 0.979);
  padding: 30px 20px;
}

.people{
  border-radius: 50%;
  width:100px;
  height: 100px;
  margin-bottom: 10px;
}
.people__comment{
  margin: 15px 20px;
  padding: 20px 20px;
}
.footer__container{
  margin-top: 200px;
  background-color: rgba(240, 240, 240, 0.979);
  padding: 50px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo{
  width: 100px;
}
footer .fa{
  background-color: black;
  color: white;
  border-radius: 50%;
  padding: 10px;
}
.gallery__img{
  width: 100px;
}
.row{
  line-height: 2rem;
  margin-top: 50px;
}
.info{
  text-align: left;
}
@media (min-width: 700px) {
  .master__image__container {
    height: 400px;
  }
  .master__discription {
    top: 20%;
  }
  .master__discription h2 {
    font-size: 65px;
    text-align: center;
  }
  .master__discription p {
    margin-top: 20px;
    font-size: 25px;
  }

  .our__menu__container{
    margin: 4rem;
    text-align: center;
}
 .our__menu__list{
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
     flex-wrap: wrap;
 }
 .menu__card{
    flex-basis: 30%;
    background-color: #fff;
    border-radius: 6px;
    
 }
 .menu__image{
  height: 250px;
  object-fit: cover;
  
}
.why__choose__us__symbol{
  margin-right: 30px;
}
.why__choose__us__text p{
font-size: small;
} 
.why__choose__us__resion{
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-around;
  align-items: center;
}
.why__choose__us__container{
  padding-left: 25%;
  padding-right: 25%;
}

.people__comment{
  margin: 15px 20px;
  padding: 20px 100px;
}
.row{
  width: 30%;
}
.footer__container{
  flex-direction: row;
  justify-content: space-evenly;
  padding: 50px 50px;
}
}



@media (min-width: 1080px) {
  .menu__image{
    height: 400px;
    object-fit: cover;
  }
  .why__choose__us__container{
    padding-left: 700px;
    padding-right: 100px;
    height: 500px;
    text-align: left;
    
  }
  .choose__us__image{
    display: block;
    position:absolute;
    left:0;
    top: 1100px;
    
  }
  .why__choose__us__resion{
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .people__comment{
    margin: 15px 20px;
    padding: 20px 200px;
  }
  .footer__container{
    
    padding: 50px 100px;
  }
}
